body{
    background-image: url("/img/gedung2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow:auto;
    
    background-attachment:fixed;
}

h1,h2,h3,h4,h5,p,label{
    color: aliceblue;
    font-family: 'AppleGothic', sans-serif;
}

a{
    color: aliceblue;
    font-family: 'AppleGothic', sans-serif;
}

.container #dalam{
    background-color: rgba(0, 0, 0, 0.733);
}

.navbar,.footer{
    background-color: #48565b;
    color: aliceblue;
}

.serahkan{
    background-color: #cf8659;
    color: rgb(44, 44, 44);
}

/* .fotoprofile img{
    widt
} */